<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" rel="stylesheet">
    </head>
    <body>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="hero is-fullheight">
            <div class="hero-body level is-paddingless is-mobile">
                <div class="level-item">
                    <div class="has-text-centered">
                        <h1 class="title is-1">🤷‍♀️</h1>

                        <div class="section">
                            <div class="buttons is-centered">
                                <a href="/shorten" class="button is-info">shorten a link</a><br/>
                                <a href="/links" class="button is-light">see all links</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </body>
   </html>
