<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" rel="stylesheet">
    </head>
    <body>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="hero is-fullheight">
            <div class="hero-body level is-paddingless is-mobile">
                <h1 class="title is-1 level-item">🤷‍♀️</h1>
            </div>
        </div>
    </body>
   </html>
